*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #96b5bf;
}

/* navigatie balk */
header nav ul li:hover a{
    color: white;
    background-color: #778991;
    transition: 0.5s;
}
header nav ul li:active a{
    color: white;
    background-color: #778991;
    transition: 0.5s;
}

header a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10%;
    width: 100%;
    font-size: 1.2em;
}
 
header nav ul{
    margin-top: 5em;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
}
nav ul li {
    display: flex;
    border-bottom: 0.2em solid #96b5bf;
    border-left: 0.2em solid #96b5bf;
    width: 15%;
}

/* tekeningen van bloemen */
img {
    max-width: 20%;
}

img:hover {
    animation-direction: normal;
}

.decoration {
    display: flex;
    justify-content: space-evenly;
}

/* main */

p {
    font-size: 1.2em;
}
main {
    margin-top: 10%;
    margin-bottom: 15%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


/* flower shower titel */
h1 {
    text-align: center;
    font-family: cursive;
    font-size: 5em;
    letter-spacing: 0.1em;
}

/* artikels op paginas */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    width: 70%;
    flex-direction: column;
    background-color: #778991;
    margin: 3%;
    padding: 5%;
    border-radius: 1em;
}

h2, p {
    background-color: #778991;
}

section div {
    display: flex;
}


/* weetjes! */
article section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #778991;
}

article section li{
    background-color: #778991;
    text-align: start;
    font-size: 1.2em;
}

/* links naar bronnen */
a {
    background-color: #778991;
    color: black;
}

a:hover {
    color: white;
    transition: o.5s;
}

/* footer */
footer p {
    display: flex;
    justify-content: flex-end;
    padding: 1% 2%;
}





